# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Kubernetes
kubernetes/namespace.yaml
kubernetes/service-account.yaml
kubernetes/ingress.yaml

# Node.js (Webserver)
webserver/node_modules/
webserver/.env

# Python / Logs / OS Files
__pycache__/
*.log
.DS_Store
Thumbs.db
